body{
	background-color:#00bcd4;
}



.shadow{
	width:300px;
	height:300px;
	border:3px solid red;
    position:absolute;
    left:450px;
    top:300px;
    box-shadow:50px -50px 10px 10px red,
    -50px 50px 10px 10px black,
    -50px -50px 10px 10px pink,
    +50px +50px 10px 10px yellow;

}
.mean{
	color: green;
	text-align:center;
    font-size:100px;
    text-shadow:10px 0px 0px red;
}