*{
	padding: 0px;
	margin: 0px;
}
.con{
	max-width: 1200px;
	margin: 0 auto;
}
header{
	width: 100%;
	min-height: 150px;
	background-color: green;
	display: flex;
}
.headerL{
	width: 50%;
	display:flex; 
	align-items: center;

}
.headerR{
	width: 50%;
	display:flex; 
	align-items: center;

}

menu > a{
	color: grey;
	text-decoration: none;
	margin-left: 50px;
}
main{
	width: 100%;
	min-height: 500px;
	background-color: green;
	margin-top: 50px;
}