.main-menu{
padding: 0;
margin: 0;
list-style-type: none;
width: 230px;
}
.main-menu li a{
     text-decoration: none;
     background-color:#feb40e; 
     border:2px solid black;
     display: block ;
     color: black;
     font-size: 30px;
     margin-bottom: -2px;
     padding: 8px 0 10px 10px;
 }
.main-menu a:hover{
	background-color:yellow;
}

