
#hoglin{
	margin: auto;
}
.header{
	border: 10px dotted red;
	width: 75%;
	height: 350px;
	margin: auto;
}
.content{
	border: 10px dotted red;
	width: 75%;
	height: 700px;
	margin: auto;
}
.footer{
	border: 10px dotted red;
	width: 75%;
	height: 350px;
	margin: auto;
}